@font-face {
	font-family: 'Pacifico';
	src: url('../fonts/Pacifico-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Montserrat Bold';
	src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
}

.button {
	-fx-pref-width: 120;
	-fx-pref-height: 35;
	-fx-font-family: 'Montserrat', Arial, sans-serif;
	-fx-background-color: 'white';
	-fx-background-radius: 10;
	-fx-font-size: 1.2em;
}

#header {
	-fx-background-color: linear-gradient(to right, #400979, #9300ff);
}

.root {
	-fx-font-family: 'Pacifico', Arial, sans-serif;
}

#section-title {
	-fx-font-size: 2em;
	-fx-font-family: 'Montserrat Bold', Arial, sans-serif;
}

#action-buttons {
	-fx-pref-width: 120;
	-fx-pref-height: 30;
	-fx-font-family: 'Montserrat Bold', Arial, sans-serif;
	-fx-background-color: linear-gradient(to right, #400979, #6c2fac);
	-fx-font-size: 1.2em;
	-fx-background-radius: 10;
}

#video-controls {
	-fx-background-color: rgba(0,0,0,0.5);
}

#play-button {
	-fx-background-color: linear-gradient(to right, #400979, #6c2fac);
	-fx-font-family: 'Montserrat Bold', Arial, sans-serif;
}

#video-labels {
	-fx-font-family: 'Montserrat Bold', Arial, sans-serif;
	-fx-font-size: 1.2em;
}

#search-title {
	-fx-font-size: 3em;
	-fx-font-family: 'Montserrat Bold', Arial, sans-serif;
}

#search-button {
	-fx-pref-width: 140;
	-fx-pref-height: 40;
	-fx-font-size: 1.5em;
	-fx-font-family: 'Montserrat Bold', Arial, sans-serif;
	-fx-background-color: linear-gradient(to right, #400979, #6c2fac);
	-fx-background-radius: 10;
}

#search-field {
	-fx-pref-width: 410;
	-fx-pref-height: 45;
	-fx-font-size: 2em;
	-fx-border-color: linear-gradient(to right, #400979, #9300ff);
	-fx-border-width: 2;
	-fx-border-radius: 10;
	-fx-font-family: 'Montserrat', Arial, sans-serif;
}

#progress-bar {
	-fx-accent: #9300ff;
}

#create-audio-title {
	-fx-font-family: 'Montserrat Bold', Arial, sans-serif;
}

#response {
	-fx-font-family: 'Montserrat', Arial, sans-serif;
	-fx-font-size: 1.2em;
}

#subheading {
	-fx-font-family: 'Montserrat', Arial, sans-serif;
	-fx-font-size: 1.5em;
}

#byline {
	-fx-font-family: 'Montserrat', Arial, sans-serif;
	-fx-font-size: 1.3em;
}

#dropdown {
	-fx-font-family: 'Montserrat', Arial, sans-serif;
	-fx-background-color: rgba(64, 9, 121, 0.3);
}

#creation-name-field {
	-fx-pref-width: 250;
	-fx-pref-height: 35;
	-fx-font-size: 1.2em;
	-fx-border-color: linear-gradient(to right, #400979, #9300ff);
	-fx-border-width: 2;
	-fx-border-radius: 10;
	-fx-font-family: 'Montserrat', Arial, sans-serif;
}

#create-button {
	-fx-pref-width: 190;
	-fx-pref-height: 30;
	-fx-font-size: 1.2em;
	-fx-font-family: 'Montserrat Bold', Arial, sans-serif;
	-fx-background-color: linear-gradient(to right, #400979, #6c2fac);
	-fx-background-radius: 10;
}

#start-quiz-button {
	-fx-pref-height: 40;
	-fx-pref-width: 200;
	-fx-font-size: 1.8em;
	-fx-font-family: 'Montserrat Bold', Arial, sans-serif;
	-fx-background-color: linear-gradient(to right, #400979, #6c2fac);
	-fx-background-radius: 10;
}

#quiz-options-container {
	-fx-fill: rgba(0,0,0,0);
	-fx-stroke: linear-gradient(to right, #400979, #9300ff);
	-fx-stroke-width: 2;
	-fx-stroke-radius: 10;
}

#quiz-options-button {
	-fx-font-size: 1.3em;
	-fx-font-family: 'Montserrat', Arial, sans-serif;
	-fx-background-color: 'white';
	-fx-border-color: linear-gradient(to right, #400979, #9300ff);
	-fx-border-width: 1.5;
	-fx-border-radius: 10;
	-fx-background-radius: 10;
}



















